<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Communities</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Create</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Create a community
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <form
            class="p-4 bg-card shadow rounded overflow-hidden"
            [formGroup]="horizontalStepperForm">
            <mat-horizontal-stepper
                [linear]="true"
                #horizontalStepper>
                <mat-step
                    [formGroupName]="'community'"
                    [stepControl]="horizontalStepperForm.get('community')"
                    #horizontalStepperCompany>
                    <ng-template matStepLabel>Business</ng-template>
                    <p class="my-6 font-medium">
                        Fill in all Community basic information
                    </p>
                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label>Community Name</mat-label>
                            <input
                                matInput
                                [formControlName]="'name'"
                                [placeholder]="'Community name'"
                                required>
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:building-office'"></mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label>Address</mat-label>
                            <input
                                matInput
                                [formControlName]="'address'"
                                [placeholder]="'Address '"
                                #addressLine1
                                required>
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label>Community Email</mat-label>
                            <input
                                matInput
                                [formControlName]="'email'"
                                [placeholder]="'Community mail'"
                                required>
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:at-symbol'"></mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label>Phone Number</mat-label>
                            <input
                                matInput
                                [formControlName]="'tel'"
                                [placeholder]="'Phone Number'"
                                required>
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="flex justify-end">
                        <button
                            class="px-8"
                            mat-flat-button
                            [color]="'primary'"
                            type="button"
                            matStepperNext>
                            Next
                        </button>
                    </div>
                </mat-step>

                <mat-step
                    [formGroupName]="'manager'"
                    [stepControl]="horizontalStepperForm.get('manager')"
                    #horizontalStepperManager>
                    <ng-template matStepLabel>Manager</ng-template>

                    <p class="my-6 font-medium">
                        We'll always let you know about important changes, but you pick what else you want to hear about.
                    </p>
                    <div class="flex flex-col gt-xs:flex-row">
                        <mat-form-field class="flex-auto gt-xs:pr-3">
                            <mat-label>First Name</mat-label>
                            <input
                                matInput
                                [formControlName]="'first_name'"
                                [placeholder]="'First name'"
                                required>
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        </mat-form-field>
                        <mat-form-field class="flex-auto gt-xs:pr-3">
                            <mat-label>Last Name</mat-label>
                            <input
                                matInput
                                [formControlName]="'last_name'"
                                [placeholder]="'Last name'"
                                required>
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        </mat-form-field>
                        <mat-form-field class="flex-auto gt-xs:pr-3">
                            <mat-label>Phone Number</mat-label>
                            <input
                                matInput
                                [formControlName]="'tel'"
                                [placeholder]="'phone number'"
                                required>
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        </mat-form-field>
                        <mat-form-field class="flex-auto gt-xs:pr-3">
                            <mat-label>Email</mat-label>
                            <input
                                matInput
                                [formControlName]="'email'"
                                [placeholder]="'email'"
                            >
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        </mat-form-field>


                    </div>
                    <div class="flex justify-end">
                        <button
                            class="px-8 mr-2"
                            mat-flat-button
                            [color]="'accent'"
                            type="button"
                            matStepperPrevious>
                            Back
                        </button>
                        <button
                            class="px-8"
                            mat-flat-button
                            [color]="'primary'"
                            type="button"
                            matStepperNext>
                            Next
                        </button>
                    </div>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    <p class="my-6 font-medium">
                        Thank you for completing our form! You can reset the form if you would like to change your information.
                    </p>
                    <div class="flex justify-end mt-8">
                        <button
                            class="px-8 mr-2"
                            mat-flat-button
                            [color]="'accent'"
                            type="button"
                            matStepperPrevious>
                            Back
                        </button>
                        <button
                            class="fuse-mat-button-large w-full mt-6"
                            mat-flat-button
                            [color]="'primary'"
                            [disabled]="horizontalStepperForm.disabled"
                            (click)="submit()">
                                <span *ngIf="!horizontalStepperForm.disabled">
                                    Submit
                                </span>
                            <mat-progress-spinner
                                *ngIf="horizontalStepperForm.disabled"
                                [diameter]="24"
                                [mode]="'indeterminate'"></mat-progress-spinner>
                        </button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </form>

    </div>

</div>
