<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Communities</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Details</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                   Community infos
                </h2>

            </div>
            <div class="mt-3">
                <div class="columns-4">

                </div>
                <div class="columns-12">
                   <div class="flex flex-wrap items-center font-medium">
                       <mat-icon
                           class="icon-size-4 text-secondary"
                           [svgIcon]="'heroicons_mini:at-symbol'"></mat-icon>
                       <a class="ml-1 text-primary-500">email</a>
                       <mat-icon
                           class="icon-size-4 text-secondary"
                           [svgIcon]="'heroicons_mini:map-pin'"></mat-icon>
                       <a class="text-primary-500">adresse</a>
                   </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

    </div>

</div>
